.mother-body {
    width: 1440px;
    height: 3000px;
    display: flex;
    flex-direction: column;
}
.main {
    margin-top: 96px;
}
   
.mother-header {
    width: 1440px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: aquamarine;

}
.box-mother-logo {
    width: 101px;
    height: 27px;
    margin-left: 32px;
}
.box-navigation-mother {
    width: 328px;
    height: 20px;
}
.box-mother-ul {
    display: flex;
    text-align: center;
    justify-content: space-between;
}
.navigation-link {
    color: #000000;
    line-height: 19.36px;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.1px;
}
.action-box-mother {
    width: 100px;
    height: 48px;
    background-color: black;
    margin-right: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 32px;
} 
.header-h5 {
    color:#F3F3F3;
    line-height: 24px;
    letter-spacing: 0.1px;
    font-size:16px;
    font-weight: 700;
}
/* header style */
.mother-section-1 {
    width: 1440px;
    height: 556px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-mother-section-1 {
    width: 490px;
    height: 288px;
}
.box-son-1 {
    width: 420px;
    height: 120px;
}
.son-h3 {
    color: #000000;
    font-weight: 900;
    font-size: 56px;
    line-height: 60px;
    letter-spacing: -1px;
    font-family: 'Inter';
}
.box-son-2 {
    width: 490px;
    height: 56px;
    margin-top: 24px;
}
.son-pharagrap-1 {
    color: #000000;
    line-height: 28px;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Inter';

}
.box-mother-3 {
    width: 490px;
    height: 48px;
    display: flex;
    margin-top: 40px;
    
    

}
.box-son-3 {
    width: 100px;
    height: 48px;
    background-color: #000000;
    border-radius: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-h5 {
    color: #F3F3F3;
    letter-spacing: 0.1px;
    line-height: 24px;
    font-size: 16px;
    font-weight: 700;
    font-family: 'Inter';
}
.box-son-4 {
    width: 236px;
    height: 40px;
    margin-left: 20px;
}
.son-pharagrap-2 {
    line-height: 20px;
    font-size: 14px;
    font-weight: 600;
    font-family: 'Inter';
}
.box-mother-image {
    width:490px;
    height: 428px;
    background-color: #FFFFFF;
}
.image-sopha {
    border-radius: 12px;
    width: 100%;
}
/* mother section-2 style */
.mother-section-2 {
    width: 1440px;
    height: 256px;
    background-color:#F3F3F3;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.box-section-2 {
    width: 360px;
    height: 128px;
}
.zero {
    width: 40px;
    height: 40px;
    background-color: #000000;
    border-radius: 50px;
}
.section-2-pharagrap-1{
    width: 360px;
    height: 40px;
    display: flex;
    align-items: center;
}
.section-2-pharagrap2 {
    color: #000000;
    line-height: 28px;
    font-size: 18px;
    font-weight: 700;
    font-family: 'Inter';

}
.zero-1 {
    margin-left: 16px;
    width: 294px;
    height: 28px;
}
.section2-pharagrap-3 {
    width: 360px;
    height: 72px;
    margin-top: 16px;
}
.pharagrap-5 {
    letter-spacing: 0.1px;
    line-height: 24px;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Inter';

}
/* mother section-3 */
.mother-section-3 {
    background-color: #000000;
    width: 1440px;
    height: 620px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.mother-box-section3 {
    width: 1140px;
    height: 428px;
    display: flex;
    justify-content: space-between;
   
}
.image-shelf {
    width: 503.5px;
    height: 428px;
}
.shelf-image {
    border-radius: 12px;
    width: 100%;
    object-fit: cover;
    height: 100%;
    
}
.box-section-3 {
    width:503.5px;
    height:264px;
    margin-top:82px;
    
}
.box-pharagrap6 {
    width: 503.5px;
    height: 64px; 
    
}
.pharagrap-6 {
    color: #FFFFFF;
    letter-spacing: -0.1px;
    line-height: 32px;
    font-size: 24px;
    font-weight: 900;
    font-family: 'Inter';
    
}
.div-div-div {
    margin-bottom: 16px;
    width: 503.5px;
    height: 48px;
}
.div1-div1-div1 {
    width: 502px;
    height: 120px;
    display:flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;   
}
.pharagrap-7 {
    color: #FFFFFF ;
    letter-spacing: 0.1px;
    line-height: 24px;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Inter';
    
}

.last-last-bottom {
    width: 503.5px;
    height: 184px;

}

.pharagrap-section3 {
    width:503.5px;
    height:48px;
    
}
/*mother-section-4 style  */
.mother-section-4 {
    width: 1440px;
    height: 564px;

}
.baner-image {
    width: 1440px;
    height: 564px;
    background-image: url(../image/baneri1.svg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.tagline {
    width: 560px;
    height: 180px;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.bottom-box1 {
    width: 540px;
    height: 24px;
}
.bottom-h6 {
    color: #FFFFFF;
    text-align: center;
    letter-spacing: 0.1px;
    line-height: 24px;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Inter';
}
.bottom-box2 {
    width: 540px;
    height: 96px;
}
.bottom-h6-pharagrap {
    color: #FFFFFF;
    text-align: center;
    letter-spacing: -0.5px;
    line-height: 48px;
    font-size: 40px;
    font-weight: 900;
    font-family: 'Inter';
}
.bottom-box3 {
    background-color: #F3F3F3;
    border-radius: 24px;
    width: 84px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bottom-h6-last {
    color: #000000;
    letter-spacing: 0.1px;
    line-height: 24px;
    font-size: 16px;
    font-weight: 700;
    font-family: 'Inter';
}
/* footer-mother style */
.footer-mother {
    background-color: #000000;
    width: 1440px;
    height: 336px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-mother-footer {
    width: 1140px;
    height: 144px;
    display: flex;
}
.brand {
    width: 228px;
    height: 27px;
    
}
.bottom-pharagrap1 {
    width: 87px;
    height: 27px;
    font-weight: 900;
    font-size: 24.65px;
    line-height: 26.41px;
    letter-spacing: -0.44px;
    color: #FFFFFF;
    font-family: 'Inter';
}
.bottom-box2-mother {

    width:228px;
    height: 144px;
}

.bottom-box4-mother {
    width: 228px;
    height: 116px;
}
.bottom-box5-mother {
    width: 228px;
    height: 88px;
}
.son-li {
    color: #FFFFFF;
    line-height: 20px;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Inter';
}
.mother-nav {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 228px;
    height: 104px;
}
.bottom-pharagrap-h6 {
    width: 228px;
    height: 24px;
    color: #FFFFFF;
    letter-spacing: 0.1px;
    line-height: 24px;
    font-size: 16px;
    font-weight: 700;
    font-family: 'Inter';
}
/* bottom box3 style */
.bottom-box3-mother {
    width: 228px;
    height: 116px;
}
.bottom-pharagrap2 {
    color:#FFFFFF ;
    letter-spacing: 0.1px;
    line-height: 24px;
    font-size: 16px;
    font-weight: 700;
    font-family: 'Inter';
}
.bottom-main-box {
    width: 228px;
    height: 76px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 16px;
}
.son-li2 {
    color: #FFFFFF;
    line-height: 20px;
   font-size: 14px;
    font-weight: 400;
    font-family: 'Inter';
}

.bottom-main-box2 {
    width: 228px;
    height: 76px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 16px;
}

.last-pharagrap-bottom12 {
    color:#FFFFFF ;
    line-height: 20px;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Inter';
    width: 228px;
    height: 40px;
    margin-top: 24px;
}
/* hover style */
.header-h5:hover {
    transform: scale(2.2);
    color: crimson
}
.navigation-link:hover {
    color: crimson
}
.main-h5:hover {
    transform: scale(2.2);
    color: crimson
}
.bottom-h6-last:hover {
    color: crimson;
    transform: scale(2.2);
}
.bottom-box3:hover {
    transform: scale(1.1);
}
/* media style */
@media (max-width:1024px) {
    .mother-header {
        width: 100%;
    }
    .mother-section-1 {
        width: 1024px;
        height: 862px;
        padding: 32px;
        display: flex;
        flex-direction: column;

    }
    .box-mother-section-1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 960px;
        height: 348px;


    }
    .box-mother-image {
        width: 960px;
        height: 450px;
      }

      .image-sopha {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .box-son-1 {
        width: 630px;
        height: 120px;
        text-align: center;

    }
    .box-son-2 {
        width: 530px;
        height: 56px;
        text-align: center;
        margin-top: 24px;
    
    }

    .box-mother-3 {
        width: 630px;
        height: 48px;
        display: flex;
        justify-content:space-around;
        margin-top: 20px;
        align-items: center;

    }
    .box-son-4 {
        width: 370px;
        height: 20px;
    
    }
    .box-son-3 {
        margin-left: 70px;

    }
    /* section2 */

    .mother-section-2 {
        width: 100%;
        width: 1024px;
        height: 254px;
        display: flex;
        justify-content: space-evenly;
    }
    .box-section-2 {
        width: 279.33px;
        height: 176px;

    }
    .section2-pharagrap-3 {
        width: 279.33px;
        height: 120px;
        
    }
    .section-2-pharagrap-1 {
        width: 279.33px;
        height: 40px;
        margin-bottom: 16px;

    }
    /* section3 */
    .mother-section-3 {
        width: 1024px;
        height: 895px;

    }
    .mother-box-section3 {
        width: 1024px;
        height: 895px;
        display: flex;
        flex-direction: column;
        padding: 32px 32px 64px 32px;
        
    }
    .image-shelf {
        width: 960px;
        height: 550px;
        
    }
    .shelf-image {
        width: 100%;
        height: 100%;
        border-radius: 12px;

       
    }
    .box-section-3 {
        width: 960px;
        height: 185px;
        display: flex;
        
    }
    .pharagrap-6 {
        width: 415.5px;
        height: 96px;
    
    }

    .div1-div1-div1 {
        width: 415.5px;
        height: 120px;
        margin-top: 17px;
    
    }
    .last-last-bottom {
        width: 415.5px;
        height: 185px;
        margin-left: 129px;


    }
    .pharagrap-section3 {
        width:415.5px;
        height: 48px;
 
    }
    /* mother-section-4 */
    .baner-image {
        width: 100%;
        position: relative;
        width: 1024px;
    
    }
    .tagline {
        width: 600px;
        height: 204px;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        position: absolute;
    }
    /* footer */
    .footer-mother {
        width: 1024px;
        height: 309px;
        padding: 45px 32px 45px 32px;
        background-color: #000000;
  
    }
    .box-mother-footer {
        width: 960px;
        height: 219px;
        position: relative;
   
    }
     .brand {
        width: 228px;
        height: 27px;
    }
    .bottom-box2-mother {
        width: 228px;
        height: 144px;
        position: absolute;
        margin-top: 48px;
        left: 0px;
        bottom: 0px;

    }
    .bottom-box3-mother {
        width: 240px;
        height: 144px;
        margin-top: 75px;

    }
    .bottom-box4-mother {
        margin-top: 75px;
        width: 240px;
        height: 144px;
    }
    .bottom-box5-mother {
        display: none;
    }

}
